h1{ 
   font-family: 'Segoe UI', sans-serif;
   font-size: 100%;
   background-image: url(https://img.freepik.com/free-vector/orange-triangle-background-3d-design_23-2148397934.jpg);
   width: 100;
   height: 80vh;
   margin-bottom: 14px;
   margin-top: 15px;
   box-sizing: border-box;
   color: cornsilk;
   background-color: bisque;
   align-items: left;
   display: flex;
   justify-content: space-between;
   padding: 50px;
   
}

h2,h3,h4,h5{
              font-size: x-large;
              font-family: Times, 'Times New Roman';
              color: darkorange;
}
p{   
    font-size: medium;
    font-family:sans-serif;

}
body{ 
    background-color: peru;
    font-family: 'Roboto Mono';
	font-size: 13px;
	color: black;
	font-weight: 800;
    box-sizing: border-box;
}

section{
    font-size: medium;
    font-family: sans-serif;
}
p{   
    font-size: small;
    font-family:sans-serif;

}

.static{
    position: static;
    background-color: antiquewhite;
    margin-left: 10px;
    padding-left: 20px;
    
}


.static {
    position: static;
    background-color: antiquewhite;
    margin-left: 10px;
    padding-left: 20px;

}

.sticky{
    background-color: antiquewhite;
    position: sticky;
    bottom: 0;
    margin:0;
    text-align: center;
    border: 0px;
}
